In [2]:
import datetime
import pandas as pd
import numpy as np
from operator import itemgetter
import zipfile
import time

In [3]:
from sklearn.cross_validation import train_test_split
from sklearn.metrics import roc_auc_score
import xgboost as xgb
import random
random.seed(1999)

In [4]:
def feature_map(features):
    outfile = open('xgb.fmap', 'w')
    for i, feat in enumerate(features):
        outfile.write('{0}\t{1}\tq\n'.format(i, feat))
    outfile.close()

In [5]:
def features_importance(gbm, features):
    feature_map(features)
    importance = gbm.get_fscore(fmap='xgb.fmap')
    importance = sorted(importance.items(), key=itemgetter(1), reverse=True)
    return importance

In [6]:
def intersect(a, b):
    return list(set(a) & set(b))

In [7]:
def print_features_importance(imp):
    for i in range(len(imp)):
        print("# " + str(imp[i][1]))
        print('output.remove(\'' + imp[i][0] + '\')')

In [8]:
def run_default_test(train, test, features, target, random_state=0):
    eta = 0.1
    max_depth = 8
    subsample = 0.85
    colsample_bytree = 0.85
    start_time = time.time()

    print('XGBoost params. ETA: {}, MAX_DEPTH: {}, SUBSAMPLE: {}, COLSAMPLE_BY_TREE: {}'.format(eta, max_depth, subsample, colsample_bytree))
    params = {
        "objective": "binary:logistic",
        "booster" : "gbtree",
        "eval_metric": "auc",
        "eta": eta,
        "max_depth": max_depth,
        "subsample": subsample,
        "colsample_bytree": colsample_bytree,
        "silent": 1,
        "seed": random_state
    }
    num_boost_round = 1000
    early_stopping_rounds = 20
    test_size = 0.1

    X_train, X_valid = train_test_split(train, test_size=test_size, random_state=random_state)
    y_train = X_train[target]
    y_valid = X_valid[target]
    dtrain = xgb.DMatrix(X_train[features], y_train)
    dvalid = xgb.DMatrix(X_valid[features], y_valid)

    watchlist = [(dtrain, 'train'), (dvalid, 'eval')]
    gbm = xgb.train(params, dtrain, num_boost_round, evals=watchlist, early_stopping_rounds=early_stopping_rounds, verbose_eval=True)

    print("Validating...")
    check = gbm.predict(xgb.DMatrix(X_valid[features]), ntree_limit=gbm.best_ntree_limit)
    score = roc_auc_score(X_valid[target].values, check)
    print('Check error value: {:.6f}'.format(score))

    imp = features_importance(gbm, features)
    print('Importance array: ', imp)

    print("Predict test set...")
    test_prediction = gbm.predict(xgb.DMatrix(test[features]), ntree_limit=gbm.best_ntree_limit)

    print('Training time: {} minutes'.format(round((time.time() - start_time)/60, 2)))
    return test_prediction.tolist(), score

In [9]:
def create_submission(score, test, prediction):
    # Make Submission
    now = datetime.datetime.now()
    sub_file = 'submission_' + str(score) + '_' + str(now.strftime("%Y-%m-%d-%H-%M")) + '.csv'
    print('Writing submission: ', sub_file)
    f = open(sub_file, 'w')
    f.write('id,probability\n')
    total = 0
    for id in test['id']:
        str1 = str(id) + ',' + str(prediction[total])
        str1 += '\n'
        total += 1
        f.write(str1)
    f.close()

In [10]:
def get_features(train, test):
    trainval = list(train.columns.values)
    testval = list(test.columns.values)
    output = intersect(trainval, testval)
    output.remove('itemID_1')
    output.remove('itemID_2')
    return output

In [11]:
def prep_train():
    testing = 0
    start_time = time.time()

    types1 = {
        'itemID_1': np.dtype(int),
        'itemID_2': np.dtype(int),
        'isDuplicate': np.dtype(int),
        'generationMethod': np.dtype(int),
    }

    types2 = {
        'itemID': np.dtype(int),
        'categoryID': np.dtype(int),
        'title': np.dtype(str),
        'description': np.dtype(str),
        'images_array': np.dtype(str),
        'attrsJSON': np.dtype(str),
        'price': np.dtype(float),
        'locationID': np.dtype(int),
        'metroID': np.dtype(float),
        'lat': np.dtype(float),
        'lon': np.dtype(float),
    }

    print("Load ItemPairs_train.csv")
    pairs = pd.read_csv("ItemPairs_train.csv", dtype=types1)
    # Add 'id' column for easy merge
    print("Load ItemInfo_train.csv")
    items = pd.read_csv("ItemInfo_train.csv", dtype=types2)
    items.fillna(-1, inplace=True)
    location = pd.read_csv("Location.csv")
    category = pd.read_csv("Category.csv")

    train = pairs
    train = train.drop(['generationMethod'], axis=1)

    print('Add text features...')
    items['len_title'] = items['title'].str.len()
    items['len_description'] = items['description'].str.len()
    items['len_attrsJSON'] = items['attrsJSON'].str.len()

    print('Merge item 1...')
    item1 = items[['itemID', 'categoryID', 'price', 'locationID', 'metroID', 'lat', 'lon', 
    'len_title', 'len_description', 'len_attrsJSON']]
    item1 = pd.merge(item1, category, how='left', on='categoryID', left_index=True)
    item1 = pd.merge(item1, location, how='left', on='locationID', left_index=True)

    item1 = item1.rename(
        columns={
            'itemID': 'itemID_1',
            'categoryID': 'categoryID_1',
            'parentCategoryID': 'parentCategoryID_1',
            'price': 'price_1',
            'locationID': 'locationID_1',
            'regionID': 'regionID_1',
            'metroID': 'metroID_1',
            'lat': 'lat_1',
            'lon': 'lon_1',
            'len_title': 'len_title_1',
			'len_description': 'len_description_1',
			'len_attrsJSON': 'len_attrsJSON_1',
        }
    )

    # Add item 1 data
    train = pd.merge(train, item1, how='left', on='itemID_1', left_index=True)

    print('Merge item 2...')
    item2 = items[['itemID', 'categoryID', 'price', 'locationID', 'metroID', 'lat', 'lon', 
    'len_title', 'len_description', 'len_attrsJSON']]
    item2 = pd.merge(item2, category, how='left', on='categoryID', left_index=True)
    item2 = pd.merge(item2, location, how='left', on='locationID', left_index=True)

    item2 = item2.rename(
        columns={
            'itemID': 'itemID_2',
            'categoryID': 'categoryID_2',
            'parentCategoryID': 'parentCategoryID_2',
            'price': 'price_2',
            'locationID': 'locationID_2',
            'regionID': 'regionID_2',
            'metroID': 'metroID_2',
            'lat': 'lat_2',
            'lon': 'lon_2',
            'len_title': 'len_title_2',
			'len_description': 'len_description_2',
			'len_attrsJSON': 'len_attrsJSON_2'
        }
    )

    # Add item 2 data
    train = pd.merge(train, item2, how='left', on='itemID_2', left_index=True)

    # Create same arrays
    print('Create same arrays')
    train['price_same'] = np.equal(train['price_1'], train['price_2']).astype(np.int32)
    train['locationID_same'] = np.equal(train['locationID_1'], train['locationID_2']).astype(np.int32)
    train['categoryID_same'] = np.equal(train['categoryID_1'], train['categoryID_2']).astype(np.int32)
    train['regionID_same'] = np.equal(train['regionID_1'], train['regionID_2']).astype(np.int32)
    train['metroID_same'] = np.equal(train['metroID_1'], train['metroID_2']).astype(np.int32)
    train['lat_same'] = np.equal(train['lat_1'], train['lat_2']).astype(np.int32)
    train['lon_same'] = np.equal(train['lon_1'], train['lon_2']).astype(np.int32)

    # print(train.describe())
    print('Create train data time: {} seconds'.format(round(time.time() - start_time, 2)))
    return train

In [12]:
def prep_test():
    start_time = time.time()

    types1 = {
        'itemID_1': np.dtype(int),
        'itemID_2': np.dtype(int),
        'id': np.dtype(int),
    }

    types2 = {
        'itemID': np.dtype(int),
        'categoryID': np.dtype(int),
        'title': np.dtype(str),
        'description': np.dtype(str),
        'images_array': np.dtype(str),
        'attrsJSON': np.dtype(str),
        'price': np.dtype(float),
        'locationID': np.dtype(int),
        'metroID': np.dtype(float),
        'lat': np.dtype(float),
        'lon': np.dtype(float),
    }

    print("Load ItemPairs_test.csv")
    pairs = pd.read_csv("ItemPairs_test.csv", dtype=types1)
    print("Load ItemInfo_testcsv")
    items = pd.read_csv("ItemInfo_test.csv", dtype=types2)
    items.fillna(-1, inplace=True)
    location = pd.read_csv("Location.csv")
    category = pd.read_csv("Category.csv")

    train = pairs

    print('Add text features...')
    items['len_title'] = items['title'].str.len()
    items['len_description'] = items['description'].str.len()
    items['len_attrsJSON'] = items['attrsJSON'].str.len()
    
    print('Merge item 1...')
    item1 = items[['itemID', 'categoryID', 'price', 'locationID', 'metroID', 'lat', 'lon', 
    'len_title', 'len_description', 'len_attrsJSON']]
    item1 = pd.merge(item1, category, how='left', on='categoryID', left_index=True)
    item1 = pd.merge(item1, location, how='left', on='locationID', left_index=True)

    item1 = item1.rename(
        columns={
            'itemID': 'itemID_1',
            'categoryID': 'categoryID_1',
            'parentCategoryID': 'parentCategoryID_1',
            'price': 'price_1',
            'locationID': 'locationID_1',
            'regionID': 'regionID_1',
            'metroID': 'metroID_1',
            'lat': 'lat_1',
            'lon': 'lon_1',
            'len_title': 'len_title_1',
			'len_description': 'len_description_1',
			'len_attrsJSON': 'len_attrsJSON_1'
        }
    )

    # Add item 1 data
    train = pd.merge(train, item1, how='left', on='itemID_1', left_index=True)

    print('Merge item 2...')
    item2 = items[['itemID', 'categoryID', 'price', 'locationID', 'metroID', 'lat', 'lon',
    'len_title', 'len_description', 'len_attrsJSON']]
    item2 = pd.merge(item2, category, how='left', on='categoryID', left_index=True)
    item2 = pd.merge(item2, location, how='left', on='locationID', left_index=True)

    item2 = item2.rename(
        columns={
            'itemID': 'itemID_2',
            'categoryID': 'categoryID_2',
            'parentCategoryID': 'parentCategoryID_2',
            'price': 'price_2',
            'locationID': 'locationID_2',
            'regionID': 'regionID_2',
            'metroID': 'metroID_2',
            'lat': 'lat_2',
            'lon': 'lon_2',
            'len_title': 'len_title_2',
			'len_description': 'len_description_2',
			'len_attrsJSON': 'len_attrsJSON_2',
        }
    )

    # Add item 2 data
    train = pd.merge(train, item2, how='left', on='itemID_2', left_index=True)

    # Create same arrays
    print('Create same arrays')
    train['price_same'] = np.equal(train['price_1'], train['price_2']).astype(np.int32)
    train['locationID_same'] = np.equal(train['locationID_1'], train['locationID_2']).astype(np.int32)
    train['categoryID_same'] = np.equal(train['categoryID_1'], train['categoryID_2']).astype(np.int32)
    train['regionID_same'] = np.equal(train['regionID_1'], train['regionID_2']).astype(np.int32)
    train['metroID_same'] = np.equal(train['metroID_1'], train['metroID_2']).astype(np.int32)
    train['lat_same'] = np.equal(train['lat_1'], train['lat_2']).astype(np.int32)
    train['lon_same'] = np.equal(train['lon_1'], train['lon_2']).astype(np.int32)
    
    # print(train.describe())
    print('Create test data time: {} seconds'.format(round(time.time() - start_time, 2)))
    return train

In [12]:
def read_test_train():
    train = prep_train()
    train.to_csv('trainDF.csv', index=False)
    test = prep_test()
    test.to_csv('testDF.csv', index=False)
    train.fillna(-1, inplace=True)
    test.fillna(-1, inplace=True)
    # Get only subset of data
    if 1:
        len_old = len(train.index)
        train = train.sample(frac=0.5)
        len_new = len(train.index)
        print('Reduce train from {} to {}'.format(len_old, len_new))
    features = get_features(train, test)
    return train, test, features


train, test, features = read_test_train()
print('Length of train: ', len(train))
print('Length of test: ', len(test))
print('Features [{}]: {}'.format(len(features), sorted(features)))
test_prediction, score = run_default_test(train, test, features, 'isDuplicate')
print('Real score = {}'.format(score))
create_submission(score, test, test_prediction)

Load ItemPairs_train.csv
Load ItemInfo_train.csv
Add text features...
Merge item 1...
Merge item 2...
Create same arrays
Create train data time: 39.54 seconds
Load ItemPairs_test.csv
Load ItemInfo_testcsv
Add text features...
Merge item 1...
Merge item 2...
Create same arrays
Create test data time: 14.33 seconds
Reduce train from 2991396 to 1495698
Length of train:  1495698
Length of test:  1044196
Features [29]: ['categoryID_1', 'categoryID_2', 'categoryID_same', 'lat_1', 'lat_2', 'lat_same', 'len_attrsJSON_1', 'len_attrsJSON_2', 'len_description_1', 'len_description_2', 'len_title_1', 'len_title_2', 'locationID_1', 'locationID_2', 'locationID_same', 'lon_1', 'lon_2', 'lon_same', 'metroID_1', 'metroID_2', 'metroID_same', 'parentCategoryID_1', 'parentCategoryID_2', 'price_1', 'price_2', 'price_same', 'regionID_1', 'regionID_2', 'regionID_same']
XGBoost params. ETA: 0.1, MAX_DEPTH: 8, SUBSAMPLE: 0.85, COLSAMPLE_BY_TREE: 0.85

Will train until eval error hasn't decreased in 20 rounds.
[0]	train-auc:0.772641	eval-auc:0.771076
[1]	train-auc:0.785503	eval-auc:0.784233
[2]	train-auc:0.792174	eval-auc:0.790701
[3]	train-auc:0.793620	eval-auc:0.792064
[4]	train-auc:0.796062	eval-auc:0.794564
[5]	train-auc:0.798749	eval-auc:0.797281
[6]	train-auc:0.799856	eval-auc:0.798279
[7]	train-auc:0.800874	eval-auc:0.799355
[8]	train-auc:0.803386	eval-auc:0.801866
[9]	train-auc:0.806160	eval-auc:0.804587
[10]	train-auc:0.807124	eval-auc:0.805378
[11]	train-auc:0.808146	eval-auc:0.806378
[12]	train-auc:0.809361	eval-auc:0.807648
[13]	train-auc:0.811512	eval-auc:0.809659
[14]	train-auc:0.812611	eval-auc:0.810673
[15]	train-auc:0.813650	eval-auc:0.811648
[16]	train-auc:0.814751	eval-auc:0.812738
[17]	train-auc:0.815800	eval-auc:0.813862
[18]	train-auc:0.817268	eval-auc:0.815340
[19]	train-auc:0.817910	eval-auc:0.816002
[20]	train-auc:0.819052	eval-auc:0.817183
[21]	train-auc:0.819650	eval-auc:0.817759
[22]	train-auc:0.820443	eval-auc:0.818603
[23]	train-auc:0.821103	eval-auc:0.819201
[24]	train-auc:0.821793	eval-auc:0.819865
[25]	train-auc:0.822114	eval-auc:0.820148
[26]	train-auc:0.822748	eval-auc:0.820781
[27]	train-auc:0.823376	eval-auc:0.821364
[28]	train-auc:0.823964	eval-auc:0.821944
[29]	train-auc:0.824629	eval-auc:0.822611
[30]	train-auc:0.825829	eval-auc:0.823731
[31]	train-auc:0.826423	eval-auc:0.824274
[32]	train-auc:0.826859	eval-auc:0.824679
[33]	train-auc:0.827724	eval-auc:0.825520
[34]	train-auc:0.828286	eval-auc:0.826022
[35]	train-auc:0.828768	eval-auc:0.826464
[36]	train-auc:0.829502	eval-auc:0.827106
[37]	train-auc:0.829801	eval-auc:0.827326
[38]	train-auc:0.830157	eval-auc:0.827590
[39]	train-auc:0.830717	eval-auc:0.828108
[40]	train-auc:0.831256	eval-auc:0.828601
[41]	train-auc:0.831721	eval-auc:0.828973
[42]	train-auc:0.832327	eval-auc:0.829538
[43]	train-auc:0.832621	eval-auc:0.829817
[44]	train-auc:0.833542	eval-auc:0.830678
[45]	train-auc:0.834156	eval-auc:0.831270
[46]	train-auc:0.834516	eval-auc:0.831591
[47]	train-auc:0.834801	eval-auc:0.831860
[48]	train-auc:0.835110	eval-auc:0.832118
[49]	train-auc:0.835667	eval-auc:0.832664
[50]	train-auc:0.836447	eval-auc:0.833378
[51]	train-auc:0.837004	eval-auc:0.833903
[52]	train-auc:0.837482	eval-auc:0.834370
[53]	train-auc:0.837822	eval-auc:0.834657
[54]	train-auc:0.838120	eval-auc:0.834894
[55]	train-auc:0.838759	eval-auc:0.835463
[56]	train-auc:0.839695	eval-auc:0.836348
[57]	train-auc:0.840005	eval-auc:0.836589
[58]	train-auc:0.840541	eval-auc:0.837117
[59]	train-auc:0.840735	eval-auc:0.837322
[60]	train-auc:0.841969	eval-auc:0.838417
[61]	train-auc:0.842338	eval-auc:0.838753
[62]	train-auc:0.843015	eval-auc:0.839392
[63]	train-auc:0.843557	eval-auc:0.839924
[64]	train-auc:0.843963	eval-auc:0.840259
[65]	train-auc:0.844247	eval-auc:0.840499
[66]	train-auc:0.844957	eval-auc:0.841130
[67]	train-auc:0.845693	eval-auc:0.841884
[68]	train-auc:0.845969	eval-auc:0.842117
[69]	train-auc:0.846329	eval-auc:0.842416
[70]	train-auc:0.846641	eval-auc:0.842664
[71]	train-auc:0.846962	eval-auc:0.842925
[72]	train-auc:0.847324	eval-auc:0.843228
[73]	train-auc:0.847706	eval-auc:0.843546
[74]	train-auc:0.848113	eval-auc:0.843913
[75]	train-auc:0.848486	eval-auc:0.844249
[76]	train-auc:0.848776	eval-auc:0.844481
[77]	train-auc:0.849070	eval-auc:0.844725
[78]	train-auc:0.849309	eval-auc:0.844914
[79]	train-auc:0.849547	eval-auc:0.845135
[80]	train-auc:0.849705	eval-auc:0.845279
[81]	train-auc:0.849926	eval-auc:0.845458
[82]	train-auc:0.850192	eval-auc:0.845640
[83]	train-auc:0.850417	eval-auc:0.845842
[84]	train-auc:0.850590	eval-auc:0.846011
[85]	train-auc:0.850805	eval-auc:0.846196
[86]	train-auc:0.850905	eval-auc:0.846282
[87]	train-auc:0.851146	eval-auc:0.846497
[88]	train-auc:0.851580	eval-auc:0.846900
[89]	train-auc:0.851773	eval-auc:0.847077
[90]	train-auc:0.852206	eval-auc:0.847490
[91]	train-auc:0.852430	eval-auc:0.847694
[92]	train-auc:0.852676	eval-auc:0.847912
[93]	train-auc:0.852794	eval-auc:0.848010
[94]	train-auc:0.852953	eval-auc:0.848162
[95]	train-auc:0.853566	eval-auc:0.848711
[96]	train-auc:0.853786	eval-auc:0.848905
[97]	train-auc:0.853946	eval-auc:0.849041
[98]	train-auc:0.854284	eval-auc:0.849332
[99]	train-auc:0.854502	eval-auc:0.849505
[100]	train-auc:0.854914	eval-auc:0.849843
[101]	train-auc:0.855570	eval-auc:0.850503
[102]	train-auc:0.856082	eval-auc:0.850983
[103]	train-auc:0.856496	eval-auc:0.851382
[104]	train-auc:0.856979	eval-auc:0.851818
[105]	train-auc:0.857415	eval-auc:0.852203
[106]	train-auc:0.857880	eval-auc:0.852634
[107]	train-auc:0.858221	eval-auc:0.852946
[108]	train-auc:0.858746	eval-auc:0.853446
[109]	train-auc:0.859010	eval-auc:0.853682
[110]	train-auc:0.859389	eval-auc:0.854019
[111]	train-auc:0.859835	eval-auc:0.854444
[112]	train-auc:0.859993	eval-auc:0.854576
[113]	train-auc:0.860227	eval-auc:0.854762
[114]	train-auc:0.860578	eval-auc:0.855106
[115]	train-auc:0.860717	eval-auc:0.855213
[116]	train-auc:0.860915	eval-auc:0.855393
[117]	train-auc:0.861256	eval-auc:0.855680
[118]	train-auc:0.861525	eval-auc:0.855912
[119]	train-auc:0.861627	eval-auc:0.856006
[120]	train-auc:0.861863	eval-auc:0.856191
[121]	train-auc:0.862022	eval-auc:0.856323
[122]	train-auc:0.862423	eval-auc:0.856694
[123]	train-auc:0.862679	eval-auc:0.856934
[124]	train-auc:0.862854	eval-auc:0.857085
[125]	train-auc:0.862936	eval-auc:0.857152
[126]	train-auc:0.863321	eval-auc:0.857502
[127]	train-auc:0.863740	eval-auc:0.857857
[128]	train-auc:0.863931	eval-auc:0.858027
[129]	train-auc:0.864106	eval-auc:0.858141
[130]	train-auc:0.864651	eval-auc:0.858635
[131]	train-auc:0.864934	eval-auc:0.858894
[132]	train-auc:0.865194	eval-auc:0.859148
[133]	train-auc:0.865306	eval-auc:0.859225
[134]	train-auc:0.865485	eval-auc:0.859378
[135]	train-auc:0.865744	eval-auc:0.859613
[136]	train-auc:0.865818	eval-auc:0.859675
[137]	train-auc:0.866039	eval-auc:0.859842
[138]	train-auc:0.866166	eval-auc:0.859955
[139]	train-auc:0.866419	eval-auc:0.860175
[140]	train-auc:0.866623	eval-auc:0.860332
[141]	train-auc:0.866783	eval-auc:0.860473
[142]	train-auc:0.866879	eval-auc:0.860530
[143]	train-auc:0.866996	eval-auc:0.860634
[144]	train-auc:0.867093	eval-auc:0.860698
[145]	train-auc:0.867486	eval-auc:0.861064
[146]	train-auc:0.867679	eval-auc:0.861216
[147]	train-auc:0.867847	eval-auc:0.861341
[148]	train-auc:0.868008	eval-auc:0.861474
[149]	train-auc:0.868550	eval-auc:0.861980
[150]	train-auc:0.868796	eval-auc:0.862205
[151]	train-auc:0.869028	eval-auc:0.862392
[152]	train-auc:0.869195	eval-auc:0.862537
[153]	train-auc:0.869477	eval-auc:0.862766
[154]	train-auc:0.869579	eval-auc:0.862862
[155]	train-auc:0.869761	eval-auc:0.862986
[156]	train-auc:0.869919	eval-auc:0.863124
[157]	train-auc:0.870463	eval-auc:0.863638
[158]	train-auc:0.870691	eval-auc:0.863832
[159]	train-auc:0.871013	eval-auc:0.864094
[160]	train-auc:0.871144	eval-auc:0.864220
[161]	train-auc:0.871484	eval-auc:0.864544
[162]	train-auc:0.871614	eval-auc:0.864625
[163]	train-auc:0.871725	eval-auc:0.864707
[164]	train-auc:0.871849	eval-auc:0.864816
[165]	train-auc:0.871951	eval-auc:0.864878
[166]	train-auc:0.872168	eval-auc:0.865051
[167]	train-auc:0.872425	eval-auc:0.865243
[168]	train-auc:0.872651	eval-auc:0.865467
[169]	train-auc:0.872723	eval-auc:0.865537
[170]	train-auc:0.872946	eval-auc:0.865736
[171]	train-auc:0.873120	eval-auc:0.865864
[172]	train-auc:0.873325	eval-auc:0.866041
[173]	train-auc:0.873487	eval-auc:0.866156
[174]	train-auc:0.873661	eval-auc:0.866283
[175]	train-auc:0.873727	eval-auc:0.866332
[176]	train-auc:0.873829	eval-auc:0.866403
[177]	train-auc:0.873865	eval-auc:0.866441
[178]	train-auc:0.874149	eval-auc:0.866690
[179]	train-auc:0.874359	eval-auc:0.866896
[180]	train-auc:0.874458	eval-auc:0.866972
[181]	train-auc:0.874652	eval-auc:0.867114
[182]	train-auc:0.874736	eval-auc:0.867169
[183]	train-auc:0.874876	eval-auc:0.867256
[184]	train-auc:0.875082	eval-auc:0.867443
[185]	train-auc:0.875130	eval-auc:0.867490
[186]	train-auc:0.875284	eval-auc:0.867617
[187]	train-auc:0.875453	eval-auc:0.867782
[188]	train-auc:0.875558	eval-auc:0.867860
[189]	train-auc:0.875653	eval-auc:0.867947
[190]	train-auc:0.875744	eval-auc:0.868026
[191]	train-auc:0.875952	eval-auc:0.868188
[192]	train-auc:0.876147	eval-auc:0.868348
[193]	train-auc:0.876172	eval-auc:0.868362
[194]	train-auc:0.876260	eval-auc:0.868411
[195]	train-auc:0.876452	eval-auc:0.868549
[196]	train-auc:0.876615	eval-auc:0.868656
[197]	train-auc:0.876664	eval-auc:0.868686
[198]	train-auc:0.876766	eval-auc:0.868764
[199]	train-auc:0.876812	eval-auc:0.868799
[200]	train-auc:0.876986	eval-auc:0.868927
[201]	train-auc:0.877164	eval-auc:0.869054
[202]	train-auc:0.877320	eval-auc:0.869187
[203]	train-auc:0.877634	eval-auc:0.869471
[204]	train-auc:0.877774	eval-auc:0.869595
[205]	train-auc:0.877919	eval-auc:0.869705
[206]	train-auc:0.877985	eval-auc:0.869754
[207]	train-auc:0.878084	eval-auc:0.869841
[208]	train-auc:0.878270	eval-auc:0.870004
[209]	train-auc:0.878355	eval-auc:0.870066
[210]	train-auc:0.878472	eval-auc:0.870170
[211]	train-auc:0.878587	eval-auc:0.870245
[212]	train-auc:0.878782	eval-auc:0.870404
[213]	train-auc:0.878887	eval-auc:0.870487
[214]	train-auc:0.879019	eval-auc:0.870567
[215]	train-auc:0.879203	eval-auc:0.870729
[216]	train-auc:0.879303	eval-auc:0.870810
[217]	train-auc:0.879460	eval-auc:0.870910
[218]	train-auc:0.879567	eval-auc:0.870963
[219]	train-auc:0.879750	eval-auc:0.871094
[220]	train-auc:0.879777	eval-auc:0.871110
[221]	train-auc:0.879974	eval-auc:0.871269
[222]	train-auc:0.880104	eval-auc:0.871359
[223]	train-auc:0.880138	eval-auc:0.871381
[224]	train-auc:0.880383	eval-auc:0.871586
[225]	train-auc:0.880446	eval-auc:0.871620
[226]	train-auc:0.880520	eval-auc:0.871675
[227]	train-auc:0.880669	eval-auc:0.871798
[228]	train-auc:0.880775	eval-auc:0.871854
[229]	train-auc:0.880854	eval-auc:0.871921
[230]	train-auc:0.880926	eval-auc:0.872005
[231]	train-auc:0.881110	eval-auc:0.872162
[232]	train-auc:0.881177	eval-auc:0.872222
[233]	train-auc:0.881382	eval-auc:0.872373
[234]	train-auc:0.881522	eval-auc:0.872478
[235]	train-auc:0.881654	eval-auc:0.872577
[236]	train-auc:0.881878	eval-auc:0.872765
[237]	train-auc:0.882064	eval-auc:0.872920
[238]	train-auc:0.882194	eval-auc:0.873015
[239]	train-auc:0.882278	eval-auc:0.873074
[240]	train-auc:0.882359	eval-auc:0.873126
[241]	train-auc:0.882483	eval-auc:0.873217
[242]	train-auc:0.882629	eval-auc:0.873339
[243]	train-auc:0.882791	eval-auc:0.873469
[244]	train-auc:0.882906	eval-auc:0.873531
[245]	train-auc:0.883019	eval-auc:0.873623
[246]	train-auc:0.883189	eval-auc:0.873745
[247]	train-auc:0.883466	eval-auc:0.873991
[248]	train-auc:0.883542	eval-auc:0.874045
[249]	train-auc:0.883660	eval-auc:0.874132
[250]	train-auc:0.883769	eval-auc:0.874214
[251]	train-auc:0.883860	eval-auc:0.874266
[252]	train-auc:0.883972	eval-auc:0.874342
[253]	train-auc:0.884064	eval-auc:0.874402
[254]	train-auc:0.884121	eval-auc:0.874441
[255]	train-auc:0.884259	eval-auc:0.874563
[256]	train-auc:0.884290	eval-auc:0.874579
[257]	train-auc:0.884444	eval-auc:0.874706
[258]	train-auc:0.884480	eval-auc:0.874729
[259]	train-auc:0.884641	eval-auc:0.874865
[260]	train-auc:0.884761	eval-auc:0.874964
[261]	train-auc:0.884770	eval-auc:0.874965
[262]	train-auc:0.884889	eval-auc:0.875039
[263]	train-auc:0.885074	eval-auc:0.875183
[264]	train-auc:0.885261	eval-auc:0.875328
[265]	train-auc:0.885425	eval-auc:0.875464
[266]	train-auc:0.885689	eval-auc:0.875686
[267]	train-auc:0.886021	eval-auc:0.876002
[268]	train-auc:0.886106	eval-auc:0.876043
[269]	train-auc:0.886386	eval-auc:0.876315
[270]	train-auc:0.886521	eval-auc:0.876431
[271]	train-auc:0.886603	eval-auc:0.876495
[272]	train-auc:0.886749	eval-auc:0.876596
[273]	train-auc:0.886813	eval-auc:0.876619
[274]	train-auc:0.886973	eval-auc:0.876727
[275]	train-auc:0.887186	eval-auc:0.876901
[276]	train-auc:0.887334	eval-auc:0.876990
[277]	train-auc:0.887436	eval-auc:0.877062
[278]	train-auc:0.887524	eval-auc:0.877116
[279]	train-auc:0.887610	eval-auc:0.877161
[280]	train-auc:0.887796	eval-auc:0.877343
[281]	train-auc:0.887928	eval-auc:0.877432
[282]	train-auc:0.888031	eval-auc:0.877522
[283]	train-auc:0.888123	eval-auc:0.877564
[284]	train-auc:0.888243	eval-auc:0.877647
[285]	train-auc:0.888427	eval-auc:0.877802
[286]	train-auc:0.888493	eval-auc:0.877831
[287]	train-auc:0.888540	eval-auc:0.877870
[288]	train-auc:0.888713	eval-auc:0.878016
[289]	train-auc:0.888792	eval-auc:0.878055
[290]	train-auc:0.888878	eval-auc:0.878097
[291]	train-auc:0.889082	eval-auc:0.878281
[292]	train-auc:0.889215	eval-auc:0.878365
[293]	train-auc:0.889421	eval-auc:0.878541
[294]	train-auc:0.889508	eval-auc:0.878614
[295]	train-auc:0.889700	eval-auc:0.878790
[296]	train-auc:0.889910	eval-auc:0.878938
[297]	train-auc:0.890004	eval-auc:0.879008
[298]	train-auc:0.890147	eval-auc:0.879104
[299]	train-auc:0.890204	eval-auc:0.879141
[300]	train-auc:0.890358	eval-auc:0.879255
[301]	train-auc:0.890501	eval-auc:0.879369
[302]	train-auc:0.890570	eval-auc:0.879419
[303]	train-auc:0.890683	eval-auc:0.879495
[304]	train-auc:0.890776	eval-auc:0.879558
[305]	train-auc:0.890921	eval-auc:0.879655
[306]	train-auc:0.891071	eval-auc:0.879770
[307]	train-auc:0.891194	eval-auc:0.879856
[308]	train-auc:0.891295	eval-auc:0.879931
[309]	train-auc:0.891446	eval-auc:0.880030
[310]	train-auc:0.891546	eval-auc:0.880114
[311]	train-auc:0.891624	eval-auc:0.880171
[312]	train-auc:0.891774	eval-auc:0.880299
[313]	train-auc:0.891844	eval-auc:0.880341
[314]	train-auc:0.891901	eval-auc:0.880352
[315]	train-auc:0.891935	eval-auc:0.880371
[316]	train-auc:0.891957	eval-auc:0.880385
[317]	train-auc:0.892057	eval-auc:0.880463
[318]	train-auc:0.892186	eval-auc:0.880563
[319]	train-auc:0.892279	eval-auc:0.880621
[320]	train-auc:0.892343	eval-auc:0.880643
[321]	train-auc:0.892468	eval-auc:0.880705
[322]	train-auc:0.892584	eval-auc:0.880771
[323]	train-auc:0.892774	eval-auc:0.880928
[324]	train-auc:0.892894	eval-auc:0.881016
[325]	train-auc:0.893015	eval-auc:0.881101
[326]	train-auc:0.893112	eval-auc:0.881169
[327]	train-auc:0.893187	eval-auc:0.881214
[328]	train-auc:0.893342	eval-auc:0.881331
[329]	train-auc:0.893458	eval-auc:0.881401
[330]	train-auc:0.893522	eval-auc:0.881433
[331]	train-auc:0.893618	eval-auc:0.881491
[332]	train-auc:0.893689	eval-auc:0.881527
[333]	train-auc:0.893772	eval-auc:0.881595
[334]	train-auc:0.893919	eval-auc:0.881673
[335]	train-auc:0.893978	eval-auc:0.881705
[336]	train-auc:0.893998	eval-auc:0.881708
[337]	train-auc:0.894078	eval-auc:0.881745
[338]	train-auc:0.894138	eval-auc:0.881783
[339]	train-auc:0.894260	eval-auc:0.881858
[340]	train-auc:0.894297	eval-auc:0.881885
[341]	train-auc:0.894379	eval-auc:0.881947
[342]	train-auc:0.894490	eval-auc:0.882019
[343]	train-auc:0.894585	eval-auc:0.882094
[344]	train-auc:0.894716	eval-auc:0.882177
[345]	train-auc:0.894799	eval-auc:0.882210
[346]	train-auc:0.894904	eval-auc:0.882257
[347]	train-auc:0.894933	eval-auc:0.882268
[348]	train-auc:0.895016	eval-auc:0.882329
[349]	train-auc:0.895047	eval-auc:0.882358
[350]	train-auc:0.895126	eval-auc:0.882428
[351]	train-auc:0.895248	eval-auc:0.882507
[352]	train-auc:0.895275	eval-auc:0.882520
[353]	train-auc:0.895337	eval-auc:0.882574
[354]	train-auc:0.895368	eval-auc:0.882592
[355]	train-auc:0.895426	eval-auc:0.882621
[356]	train-auc:0.895444	eval-auc:0.882624
[357]	train-auc:0.895522	eval-auc:0.882678
[358]	train-auc:0.895609	eval-auc:0.882737
[359]	train-auc:0.895748	eval-auc:0.882823
[360]	train-auc:0.895828	eval-auc:0.882878
[361]	train-auc:0.895895	eval-auc:0.882917
[362]	train-auc:0.895909	eval-auc:0.882924
[363]	train-auc:0.895989	eval-auc:0.882982
[364]	train-auc:0.896044	eval-auc:0.883020
[365]	train-auc:0.896111	eval-auc:0.883053
[366]	train-auc:0.896251	eval-auc:0.883158
[367]	train-auc:0.896358	eval-auc:0.883237
[368]	train-auc:0.896404	eval-auc:0.883256
[369]	train-auc:0.896421	eval-auc:0.883269
[370]	train-auc:0.896482	eval-auc:0.883318
[371]	train-auc:0.896519	eval-auc:0.883351
[372]	train-auc:0.896598	eval-auc:0.883393
[373]	train-auc:0.896711	eval-auc:0.883479
[374]	train-auc:0.896739	eval-auc:0.883500
[375]	train-auc:0.896816	eval-auc:0.883545
[376]	train-auc:0.896917	eval-auc:0.883616
[377]	train-auc:0.896985	eval-auc:0.883649
[378]	train-auc:0.897051	eval-auc:0.883705
[379]	train-auc:0.897124	eval-auc:0.883755
[380]	train-auc:0.897149	eval-auc:0.883773
[381]	train-auc:0.897202	eval-auc:0.883811
[382]	train-auc:0.897247	eval-auc:0.883849
[383]	train-auc:0.897318	eval-auc:0.883888
[384]	train-auc:0.897330	eval-auc:0.883890
[385]	train-auc:0.897453	eval-auc:0.883960
[386]	train-auc:0.897541	eval-auc:0.884015
[387]	train-auc:0.897727	eval-auc:0.884165
[388]	train-auc:0.897860	eval-auc:0.884282
[389]	train-auc:0.897880	eval-auc:0.884296
[390]	train-auc:0.897971	eval-auc:0.884372
[391]	train-auc:0.898086	eval-auc:0.884456
[392]	train-auc:0.898168	eval-auc:0.884511

KeyboardInterrupt:

### Image hashing technique

#### Example:
from PIL import Image<br>
import imagehash<br>
hash = imagehash.average_hash(Image.open('test.png'))<br>
print(hash)<br>
d879f8f89b1bbf<br>
otherhash = imagehash.average_hash(Image.open('other.bmp'))<br>
print(otherhash)<br>
ffff3720200ffff<br>
print(hash == otherhash)<br>
False<br>
print(hash - otherhash)<br>
36<br>

In [13]:
trainDF=pd.read_csv("trainDF.csv")

In [14]:
trainDF.head()

,itemID_1,itemID_2,isDuplicate,categoryID_1,price_1,locationID_1,metroID_1,lat_1,lon_1,len_title_1,...,len_attrsJSON_2,parentCategoryID_2,regionID_2,price_same,locationID_same,categoryID_same,regionID_same,metroID_same,lat_same,lon_same
0,1,4112648,1,81,300000.0,648140,-1.0,64.686946,30.815924,17.0,...,27.0,1,648070,1,1,1,1,1,1,1
1,3,1991275,1,14,300000.0,639040,-1.0,55.678037,37.256548,9.0,...,57.0,1,637680,0,1,1,1,1,1,1
2,4,1223296,0,84,3500.0,640650,-1.0,56.239398,43.460458,14.0,...,25.0,6,640310,1,1,1,1,1,1,1
3,7,1058851,1,84,13500.0,662210,-1.0,55.777170,37.586194,35.0,...,31.0,6,662000,1,1,1,1,1,0,0
4,8,2161930,1,39,500.0,624360,-1.0,55.777170,37.586194,14.0,...,35.0,7,624300,0,1,1,1,1,1,1

In [15]:
print(features)

NameError: name 'features' is not defined

In [16]:
testDF=pd.read_csv("testDF.csv")

In [17]:
testDF.head()

,id,itemID_1,itemID_2,categoryID_1,price_1,locationID_1,metroID_1,lat_1,lon_1,len_title_1,...,len_attrsJSON_2,parentCategoryID_2,regionID_2,price_same,locationID_same,categoryID_same,regionID_same,metroID_same,lat_same,lon_same
0,0,5,4670875,115,-1.0,637640,500292.0,55.760211,37.577211,38.0,...,23.0,113,637640,1,1,1,1,1,1,1
1,1,5,787210,115,-1.0,637640,500292.0,55.760211,37.577211,38.0,...,23.0,113,637640,1,1,1,1,1,1,1
2,2,6,1705280,10,-1.0,637160,-1.0,59.645846,33.513035,14.0,...,38.0,1,636370,0,1,1,1,1,1,1
3,3,11,3020777,101,1300.0,650400,302.0,55.817608,49.097646,27.0,...,60.0,6,650130,0,1,1,1,1,1,1
4,4,23,5316130,27,15000.0,637640,500769.0,55.827080,37.437604,48.0,...,89.0,5,637640,1,1,1,1,1,1,1

In [18]:
types1 = {
        'itemID_1': np.dtype(int),
        'itemID_2': np.dtype(int),
        'isDuplicate': np.dtype(int),
        'generationMethod': np.dtype(int),
    }

types2 = {
        'itemID': np.dtype(int),
        'categoryID': np.dtype(int),
        'title': np.dtype(str),
        'description': np.dtype(str),
        'images_array': np.dtype(str),
        'attrsJSON': np.dtype(str),
        'price': np.dtype(float),
        'locationID': np.dtype(int),
        'metroID': np.dtype(float),
        'lat': np.dtype(float),
        'lon': np.dtype(float),
    }

In [19]:
print("Load ItemPairs_train.csv")
pairs = pd.read_csv("ItemPairs_train.csv", dtype=types1)
# Add 'id' column for easy merge
print("Load ItemInfo_train.csv")
items = pd.read_csv("ItemInfo_train.csv", dtype=types2)
items.fillna(-1, inplace=True)
location = pd.read_csv("Location.csv")
category = pd.read_csv("Category.csv")

Load ItemPairs_train.csv
Load ItemInfo_train.csv

In [25]:
pairs.head()

   itemID_1  itemID_2  isDuplicate  generationMethod
0         1   4112648            1                 1
1         3   1991275            1                 1
2         4   1223296            0                 1
3         7   1058851            1                 1
4         8   2161930            1                 1

In [27]:
items.head()

,itemID,categoryID,title,description,images_array,attrsJSON,price,locationID,metroID,lat,lon
0,1,81,Продам Камаз 6520,Продам Камаз 6520 20 тонн,"1064094, 5252822, 6645873, 6960145, 9230265","{""Вид техники"":""Грузовики""}",300000.0,648140,-1.0,64.686946,30.815924
1,3,14,Yamaha r6,Весь в тюнинге.,"11919573, 14412228, 3204180, 6646877","{""Вид техники"":""Мотоциклы"", ""Вид мотоцикла"":""С...",300000.0,639040,-1.0,55.678037,37.256548
2,4,84,iPhone 3gs 8gb,"Телефон в хорошем состоянии, трещин и сколов н...","14384831, 6102021","{""Вид телефона"":""iPhone""}",3500.0,640650,-1.0,56.239398,43.460458
3,7,84,Xiaomi Mi4 3гб RAM + 16гб ROM белый,"Отличный подарок на новый год от ""китайской ap...",-1,"{""Вид телефона"":""Другие марки""}",13500.0,662210,-1.0,55.777170,37.586194
4,8,39,Лыжные ботинки,"Лыжные ботинки в хорошем состоянии, 34 размер","13718854, 4787310","{""Вид товара"":""Зимние виды спорта""}",500.0,624360,-1.0,55.777170,37.586194

In [28]:
location.head()

   locationID  regionID
0      621551    621550
1      621552    621550
2      621553    621550
3      621554    621550
4      621555    621550

In [29]:
category.head()

   categoryID  parentCategoryID
0           9                 1
1          10                 1
2          11                 1
3          14                 1
4          19                 2

In [24]:
train = pairs
train = train.drop(['generationMethod'], axis=1)

In [26]:
train.head()

   itemID_1  itemID_2  isDuplicate
0         1   4112648            1
1         3   1991275            1
2         4   1223296            0
3         7   1058851            1
4         8   2161930            1

In [30]:
print('Add text features...')
items['len_title'] = items['title'].str.len()
items['len_description'] = items['description'].str.len()
items['len_attrsJSON'] = items['attrsJSON'].str.len()

print('Merge item 1...')
item1 = items[['itemID', 'categoryID', 'price', 'locationID', 'metroID', 'lat', 'lon', 
'len_title', 'len_description', 'len_attrsJSON']]
item1 = pd.merge(item1, category, how='left', on='categoryID', left_index=True)
item1 = pd.merge(item1, location, how='left', on='locationID', left_index=True)

Add text features...
Merge item 1...

In [31]:
item1.head()

,itemID,categoryID,price,locationID,metroID,lat,lon,len_title,len_description,len_attrsJSON,parentCategoryID,regionID
2123,1,81,300000.0,648140,-1.0,64.686946,30.815924,17.0,25.0,27.0,1,648070
1402,3,14,300000.0,639040,-1.0,55.678037,37.256548,9.0,15.0,57.0,1,637680
1540,4,84,3500.0,640650,-1.0,56.239398,43.460458,14.0,239.0,25.0,6,640310
3386,7,84,13500.0,662210,-1.0,55.777170,37.586194,35.0,801.0,31.0,6,662000
288,8,39,500.0,624360,-1.0,55.777170,37.586194,14.0,45.0,35.0,7,624300

In [32]:
item1 = item1.rename(
        columns={
            'itemID': 'itemID_1',
            'categoryID': 'categoryID_1',
            'parentCategoryID': 'parentCategoryID_1',
            'price': 'price_1',
            'locationID': 'locationID_1',
            'regionID': 'regionID_1',
            'metroID': 'metroID_1',
            'lat': 'lat_1',
            'lon': 'lon_1',
            'len_title': 'len_title_1',
			'len_description': 'len_description_1',
			'len_attrsJSON': 'len_attrsJSON_1',
        }
    )

In [33]:
item1.head()

,itemID_1,categoryID_1,price_1,locationID_1,metroID_1,lat_1,lon_1,len_title_1,len_description_1,len_attrsJSON_1,parentCategoryID_1,regionID_1
2123,1,81,300000.0,648140,-1.0,64.686946,30.815924,17.0,25.0,27.0,1,648070
1402,3,14,300000.0,639040,-1.0,55.678037,37.256548,9.0,15.0,57.0,1,637680
1540,4,84,3500.0,640650,-1.0,56.239398,43.460458,14.0,239.0,25.0,6,640310
3386,7,84,13500.0,662210,-1.0,55.777170,37.586194,35.0,801.0,31.0,6,662000
288,8,39,500.0,624360,-1.0,55.777170,37.586194,14.0,45.0,35.0,7,624300

In [34]:
train = pd.merge(train, item1, how='left', on='itemID_1', left_index=True)

In [35]:
train.head()

,itemID_1,itemID_2,isDuplicate,categoryID_1,price_1,locationID_1,metroID_1,lat_1,lon_1,len_title_1,len_description_1,len_attrsJSON_1,parentCategoryID_1,regionID_1
2123,1,4112648,1,81,300000.0,648140,-1.0,64.686946,30.815924,17.0,25.0,27.0,1,648070
1402,3,1991275,1,14,300000.0,639040,-1.0,55.678037,37.256548,9.0,15.0,57.0,1,637680
1540,4,1223296,0,84,3500.0,640650,-1.0,56.239398,43.460458,14.0,239.0,25.0,6,640310
3386,7,1058851,1,84,13500.0,662210,-1.0,55.777170,37.586194,35.0,801.0,31.0,6,662000
288,8,2161930,1,39,500.0,624360,-1.0,55.777170,37.586194,14.0,45.0,35.0,7,624300

In [36]:
print('Merge item 2...')
item2 = items[['itemID', 'categoryID', 'price', 'locationID', 'metroID', 'lat', 'lon', 
'len_title', 'len_description', 'len_attrsJSON']]
item2 = pd.merge(item2, category, how='left', on='categoryID', left_index=True)
item2 = pd.merge(item2, location, how='left', on='locationID', left_index=True)
item2 = item2.rename(
        columns={
            'itemID': 'itemID_2',
            'categoryID': 'categoryID_2',
            'parentCategoryID': 'parentCategoryID_2',
            'price': 'price_2',
            'locationID': 'locationID_2',
            'regionID': 'regionID_2',
            'metroID': 'metroID_2',
            'lat': 'lat_2',
            'lon': 'lon_2',
            'len_title': 'len_title_2',
			'len_description': 'len_description_2',
			'len_attrsJSON': 'len_attrsJSON_2'
    }
)

# Add item 2 data
train = pd.merge(train, item2, how='left', on='itemID_2', left_index=True)

Merge item 2...

In [37]:
train.head()

,itemID_1,itemID_2,isDuplicate,categoryID_1,price_1,locationID_1,metroID_1,lat_1,lon_1,len_title_1,...,price_2,locationID_2,metroID_2,lat_2,lon_2,len_title_2,len_description_2,len_attrsJSON_2,parentCategoryID_2,regionID_2
2123,1,4112648,1,81,300000.0,648140,-1.0,64.686946,30.815924,17.0,...,300000.0,648140,-1.0,64.686946,30.815924,17.0,25.0,27.0,1,648070
1402,3,1991275,1,14,300000.0,639040,-1.0,55.678037,37.256548,9.0,...,330000.0,639040,-1.0,55.678037,37.256548,9.0,29.0,57.0,1,637680
1540,4,1223296,0,84,3500.0,640650,-1.0,56.239398,43.460458,14.0,...,3500.0,640650,-1.0,56.239398,43.460458,15.0,64.0,25.0,6,640310
3386,7,1058851,1,84,13500.0,662210,-1.0,55.777170,37.586194,35.0,...,13500.0,662210,-1.0,56.135459,47.235484,44.0,843.0,31.0,6,662000
288,8,2161930,1,39,500.0,624360,-1.0,55.777170,37.586194,14.0,...,600.0,624360,-1.0,55.777170,37.586194,15.0,38.0,35.0,7,624300

In [38]:
# Create same arrays
print('Create same arrays')
train['price_same'] = np.equal(train['price_1'], train['price_2']).astype(np.int32)
train['locationID_same'] = np.equal(train['locationID_1'], train['locationID_2']).astype(np.int32)
train['categoryID_same'] = np.equal(train['categoryID_1'], train['categoryID_2']).astype(np.int32)
train['regionID_same'] = np.equal(train['regionID_1'], train['regionID_2']).astype(np.int32)
train['metroID_same'] = np.equal(train['metroID_1'], train['metroID_2']).astype(np.int32)
train['lat_same'] = np.equal(train['lat_1'], train['lat_2']).astype(np.int32)
train['lon_same'] = np.equal(train['lon_1'], train['lon_2']).astype(np.int32)

Create same arrays

In [39]:
train.to_csv('trainDF.csv', index=False)

In [20]:
trainDF=pd.read_csv("trainDF.csv")
trainDF.head()

,itemID_1,itemID_2,isDuplicate,categoryID_1,price_1,locationID_1,metroID_1,lat_1,lon_1,len_title_1,...,len_attrsJSON_2,parentCategoryID_2,regionID_2,price_same,locationID_same,categoryID_same,regionID_same,metroID_same,lat_same,lon_same
0,1,4112648,1,81,300000.0,648140,-1.0,64.686946,30.815924,17.0,...,27.0,1,648070,1,1,1,1,1,1,1
1,3,1991275,1,14,300000.0,639040,-1.0,55.678037,37.256548,9.0,...,57.0,1,637680,0,1,1,1,1,1,1
2,4,1223296,0,84,3500.0,640650,-1.0,56.239398,43.460458,14.0,...,25.0,6,640310,1,1,1,1,1,1,1
3,7,1058851,1,84,13500.0,662210,-1.0,55.777170,37.586194,35.0,...,31.0,6,662000,1,1,1,1,1,0,0
4,8,2161930,1,39,500.0,624360,-1.0,55.777170,37.586194,14.0,...,35.0,7,624300,0,1,1,1,1,1,1

In [41]:
test = prep_test()
test.to_csv('testDF.csv', index=False)

Load ItemPairs_test.csv
Load ItemInfo_testcsv
Add text features...
Merge item 1...
Merge item 2...
Create same arrays
Create test data time: 14.76 seconds

In [19]:
testDF=pd.read_csv("testDF.csv")
testDF.head()

,id,itemID_1,itemID_2,categoryID_1,price_1,locationID_1,metroID_1,lat_1,lon_1,len_title_1,...,len_attrsJSON_2,parentCategoryID_2,regionID_2,price_same,locationID_same,categoryID_same,regionID_same,metroID_same,lat_same,lon_same
0,0,5,4670875,115,-1.0,637640,500292.0,55.760211,37.577211,38.0,...,23.0,113,637640,1,1,1,1,1,1,1
1,1,5,787210,115,-1.0,637640,500292.0,55.760211,37.577211,38.0,...,23.0,113,637640,1,1,1,1,1,1,1
2,2,6,1705280,10,-1.0,637160,-1.0,59.645846,33.513035,14.0,...,38.0,1,636370,0,1,1,1,1,1,1
3,3,11,3020777,101,1300.0,650400,302.0,55.817608,49.097646,27.0,...,60.0,6,650130,0,1,1,1,1,1,1
4,4,23,5316130,27,15000.0,637640,500769.0,55.827080,37.437604,48.0,...,89.0,5,637640,1,1,1,1,1,1,1

In [46]:
testDF = testDF.drop(['id'], axis=1)

In [47]:
testDF.head()

,itemID_1,itemID_2,categoryID_1,price_1,locationID_1,metroID_1,lat_1,lon_1,len_title_1,len_description_1,...,len_attrsJSON_2,parentCategoryID_2,regionID_2,price_same,locationID_same,categoryID_same,regionID_same,metroID_same,lat_same,lon_same
0,5,4670875,115,-1.0,637640,500292.0,55.760211,37.577211,38.0,165.0,...,23.0,113,637640,1,1,1,1,1,1,1
1,5,787210,115,-1.0,637640,500292.0,55.760211,37.577211,38.0,165.0,...,23.0,113,637640,1,1,1,1,1,1,1
2,6,1705280,10,-1.0,637160,-1.0,59.645846,33.513035,14.0,68.0,...,38.0,1,636370,0,1,1,1,1,1,1
3,11,3020777,101,1300.0,650400,302.0,55.817608,49.097646,27.0,128.0,...,60.0,6,650130,0,1,1,1,1,1,1
4,23,5316130,27,15000.0,637640,500769.0,55.827080,37.437604,48.0,2431.0,...,89.0,5,637640,1,1,1,1,1,1,1

In [48]:
trainval = list(trainDF.columns.values)
testval = list(testDF.columns.values)

In [49]:
print(trainval)

['itemID_1', 'itemID_2', 'isDuplicate', 'categoryID_1', 'price_1', 'locationID_1', 'metroID_1', 'lat_1', 'lon_1', 'len_title_1', 'len_description_1', 'len_attrsJSON_1', 'parentCategoryID_1', 'regionID_1', 'categoryID_2', 'price_2', 'locationID_2', 'metroID_2', 'lat_2', 'lon_2', 'len_title_2', 'len_description_2', 'len_attrsJSON_2', 'parentCategoryID_2', 'regionID_2', 'price_same', 'locationID_same', 'categoryID_same', 'regionID_same', 'metroID_same', 'lat_same', 'lon_same']

In [50]:
print(testval)

['itemID_1', 'itemID_2', 'categoryID_1', 'price_1', 'locationID_1', 'metroID_1', 'lat_1', 'lon_1', 'len_title_1', 'len_description_1', 'len_attrsJSON_1', 'parentCategoryID_1', 'regionID_1', 'categoryID_2', 'price_2', 'locationID_2', 'metroID_2', 'lat_2', 'lon_2', 'len_title_2', 'len_description_2', 'len_attrsJSON_2', 'parentCategoryID_2', 'regionID_2', 'price_same', 'locationID_same', 'categoryID_same', 'regionID_same', 'metroID_same', 'lat_same', 'lon_same']

In [51]:
features = intersect(trainval, testval)

In [52]:
print(features)

['len_description_1', 'parentCategoryID_1', 'categoryID_1', 'metroID_1', 'lon_1', 'itemID_2', 'lat_same', 'price_same', 'len_attrsJSON_2', 'len_title_2', 'locationID_2', 'lat_2', 'len_attrsJSON_1', 'price_1', 'metroID_2', 'metroID_same', 'len_title_1', 'lon_2', 'itemID_1', 'locationID_1', 'regionID_same', 'regionID_2', 'parentCategoryID_2', 'categoryID_2', 'locationID_same', 'lon_same', 'len_description_2', 'regionID_1', 'lat_1', 'price_2', 'categoryID_same']

In [ ]:
output.remove('itemID_1')
output.remove('itemID_2')

In [21]:
import pickle

In [22]:
whash = pickle.load( open('whash_haar.pkl', 'rb') )

In [23]:
type(whash)

dict

In [57]:
print(whash)

In [61]:
list(whash.items())

[(2, 8034173447716605444),
 (5, 11459270170091060735),
 (7, 18400019274820157450),
 (8, 704357531391),
 (9, 18337108463122644992),
 (10, 9186353938079423488),
 (12, 1447632467759242235),
 (13, 18230288159769886720),
 (14, 1096414436767112451),
 (15, 2827763845445877955),
 (16, 144877819258855),
 (17, 217018519141629823),
 (18, 18319636374037735544),
 (19, 17852480994431532799),
 (21, 2957538369155829519),
 (23, 18158513709786193919),
 (25, 9277416325663096575),
 (26, 11497552417792240955),
 (27, 281454566634240),
 (28, 1947528676405403647),
 (29, 216237099198511160),
 (30, 3528632086856204287),
 (31, 2738188575420973055),
 (33, 16267425998220551159),
 (34, 4646726337522580540),
 (36, 2323362894822931968),
 (37, 17938084571774390047),
 (38, 1827879201435262),
 (39, 9293387280536042752),
 (40, 18383584401478680960),
 (41, 8477776329719326),
 (43, 4341043554206644224),
 (44, 16411611818044035120),
 (48, 16623645725183),
 (49, 579847455034572799),
 (50, 18413812607413713919),
 (51, 13871091510075325947),
 (52, 18446528569430572860),
 (53, 35606032625303552),
 (55, 18438793509449352191),
 (56, 2522297528288354173),
 (57, 54272971765382384),
 (58, 1082836992001178111),
 (59, 17581911648900284416),
 (60, 2019596667578152959),
 (61, 18446322413160942075),
 (62, 7817251588532738576),
 (63, 9223372519921156095),
 (65, 18446462598732906495),
 (69, 35606032625303552),
 (70, 11096299874176565633),
 (71, 18430915262780211216),
 (75, 36267237484387454),
 (76, 14033997928626552446),
 (77, 273774100340992),
 (78, 6755671085121311),
 (79, 1085208139008110841),
 (80, 18429718965158183935),
 (81, 36028797002186880),
 (82, 17928864188789195007),
 (83, 33916083253501952),
 (85, 18374688145108354047),
 (86, 18374377261423419617),
 (87, 9180309689722830847),
 (89, 18423090827602427904),
 (90, 35040303869909244),
 (91, 8130132628959981816),
 (93, 35685229276623415),
 (94, 18446743833191407840),
 (97, 27796688986897633),
 (101, 18446740744585609216),
 (102, 14537831531271024639),
 (104, 18320290325276917772),
 (105, 14088323702961980355),
 (107, 18398363358772869169),
 (108, 1264980581987119),
 (111, 18411139420842607103),
 (112, 5136090457390384959),
 (114, 8716857816817139711),
 (115, 16118329795946748156),
 (116, 9266359355152588956),
 (118, 4340410370284600380),
 (119, 264952119620603),
 (120, 18014188144393984),
 (121, 1086576197374),
 (122, 152893059364633871),
 (123, 62642047451004),
 (125, 220411740071350023),
 (126, 18415086391626120975),
 (127, 18411702094845805567),
 (128, 505255518742475133),
 (129, 8820981827268363263),
 (130, 217171047988919548),
 (131, 212175645374719),
 (132, 505249266335412991),
 (133, 18374687604179334135),
 (135, 144117258048502591),
 (136, 18432528767093235936),
 (138, 13799453127575324615),
 (139, 18222906048443054846),
 (141, 8296317104709333875),
 (143, 576461046508486655),
 (144, 72375840133316479),
 (146, 4376650523717152856),
 (148, 2238021966857379390),
 (149, 584938228482457151),
 (150, 13871563804089905564),
 (153, 17276796644482074591),
 (155, 4621011274099048318),
 (156, 35604928818717184),
 (158, 2278556459342463875),
 (159, 18438796544917438590),
 (160, 18141046412936249587),
 (161, 16779559200354745592),
 (163, 16733186438664354040),
 (164, 18446743802056022016),
 (165, 4634027129380275727),
 (166, 18379613391461257215),
 (167, 18229725771465360131),
 (168, 36525655946555644),
 (169, 2882339489172994559),
 (170, 63862929558341182),
 (173, 6917810193380081664),
 (174, 17293777285660328164),
 (175, 16177035693283868157),
 (176, 4610833863094582552),
 (177, 18446736377131874360),
 (178, 43062290976138364),
 (179, 72058585771141119),
 (180, 18361175682951610111),
 (181, 2269619364846112126),
 (182, 14376512284753257471),
 (184, 66563600367),
 (185, 7488048985353166088),
 (187, 198652896507062263),
 (188, 11565471022427664577),
 (189, 16393526795531913199),
 (191, 2674321344734134269),
 (192, 553916563455),
 (193, 16753646700184397567),
 (194, 11385099899898953727),
 (195, 14376481279380228095),
 (196, 17938048973987094527),
 (197, 881628721413793532),
 (198, 139637968280576),
 (199, 10448351165696442367),
 (200, 176991189794556),
 (201, 18438231104936148476),
 (202, 18375533533113389278),
 (203, 1828472737591807),
 (204, 18446708889337470975),
 (205, 16204198715746116479),
 (206, 168026702086143),
 (208, 9186780535098261311),
 (209, 242978932718076),
 (210, 36204475400011523),
 (211, 3708281627094681314),
 (212, 13337410399949815807),
 (214, 17365458502587383807),
 (215, 7017154064176740733),
 (217, 16105894349977468159),
 (218, 6895033105922048),
 (221, 141350578061055),
 (222, 36280572179184880),
 (223, 285692427377893568),
 (224, 15751613444266713336),
 (225, 9331882296115855359),
 (227, 67496345266552576),
 (228, 9766901320987705343),
 (229, 18298011144730233280),
 (230, 32396015122218879),
 (231, 18446603336437495839),
 (232, 36181129032605695),
 (233, 13836199623229601824),
 (235, 18410776954600148767),
 (237, 13801144181823079391),
 (240, 9231359717341658940),
 (241, 14107747700272172686),
 (243, 16681756599063511527),
 (244, 18442487314459627519),
 (245, 16401416615863895031),
 (246, 18442453233902405599),
 (247, 14105768554448274365),
 (251, 18249004831761072575),
 (252, 652183600093194103),
 (253, 72057390458551296),
 (255, 18157356742889996767),
 (256, 15831035480522302),
 (258, 13727114053225152511),
 (259, 2106978592264686600),
 (261, 18243277387970376673),
 (263, 2251799260691431424),
 (264, 18411148234725646604),
 (265, 16555725648451191807),
 (266, 18260693392228094),
 (269, 18005609627684577408),
 (271, 69264924966400),
 (272, 67606771270680575),
 (274, 4239509852191984),
 (275, 9169063860067697695),
 (277, 18442487334034697728),
 (280, 4358495413494102016),
 (281, 4557430683696693248),
 (282, 9259612767977996287),
 (283, 9179295228648553726),
 (285, 18378916454461391103),
 (286, 16125070027668963835),
 (288, 522205614088454400),
 (293, 4521709306445567),
 (294, 18411138041084248063),
 (295, 8479396076128015),
 (296, 18444103701774762383),
 (297, 18446470308819961671),
 (299, 540009190899384322),
 (301, 9160043465646768127),
 (304, 17072266956975245119),
 (305, 439198806395698608),
 (306, 18441005833128042976),
 (307, 18429789335990665727),
 (308, 13871229262809790463),
 (309, 145811738808803070),
 (310, 9493742555506012665),
 (311, 18446604435732905919),
 (312, 16421236530919246860),
 (313, 63219768615409),
 (314, 9480501324471855079),
 (315, 72340740291641343),
 (316, 18392421054632018943),
 (317, 18431122212517773054),
 (319, 9331882305813477375),
 (320, 31662010321662207),
 (321, 18086456103553466367),
 (322, 9007058517269937983),
 (323, 18230288708988043264),
 (324, 2305701442847179009),
 (325, 17843685867831673799),
 (326, 13319634427010293567),
 (327, 17277428590912319987),
 (329, 2556654023906984186),
 (330, 4057958093760167680),
 (331, 29410280303640088),
 (332, 14394493710832485315),
 (334, 72342639191465791),
 (335, 18419024872467896573),
 (336, 13891061649724457191),
 (337, 18444545051767734783),
 (339, 11494194082968667008),
 (340, 14348206731246411663),
 (341, 9169117182083727360),
 (342, 18446743515397390336),
 (343, 66507149081724),
 (345, 9484995595222920252),
 (346, 18429223081043165183),
 (347, 18383464014258045697),
 (348, 14375913878800814079),
 (349, 18446604435732871167),
 (350, 3782036870959726592),
 (351, 13871351770058163199),
 (352, 18294734366112236096),
 (353, 868082083735468023),
 (356, 18411701538633416703),
 (357, 17361905363928019185),
 (359, 216455373646986227),
 (362, 13799876987126415335),
 (363, 18429718690229581564),
 (364, 18429011165268141055),
 (366, 17325480225306900720),
 (367, 18372707599394017151),
 (368, 684898992441491263),
 (369, 72365650833571699),
 (370, 6976217142379409407),
 (371, 3956073022062591),
 (372, 1276630860703858687),
 (373, 8734520358301696),
 (374, 18429577413957616095),
 (375, 14395193812516851951),
 (376, 289934753392486148),
 (377, 18439818254278165471),
 (379, 9169117718860800000),
 (381, 9476562641794623459),
 (384, 18446681951302644860),
 (386, 861179664629519),
 (387, 512425054428147712),
 (388, 2260660587069439),
 (389, 18383446421963001344),
 (390, 2234094485753528575),
 (391, 1089622680337956799),
 (392, 2989617683315375132),
 (393, 15188883988875284431),
 (394, 16267496366962479103),
 (395, 18411702095922186623),
 (396, 18444703380144191743),
 (397, 7593176050696907743),
 (398, 6087174038571517921),
 (400, 3632707590672124),
 (402, 17343775595464999879),
 (403, 424152848399807),
 (404, 18446471394960642047),
 (407, 18424475391997573368),
 (408, 217021070448779247),
 (409, 4546668605957865471),
 (411, 18446682229416976384),
 (412, 4611406199185852926),
 (414, 18213372778010054543),
 (415, 8970106134778347518),
 (416, 18442123925849880463),
 (417, 67554548142374911),
 (418, 18439140934632607872),
 (419, 298987481479576061),
 (421, 65019604848804739),
 (424, 1950358921743122431),
 (425, 55733149144973180),
 (426, 4665943360018570968),
 (427, 14058551392352436095),
 (428, 9186605330099109117),
 (429, 137357298563320),
 (430, 10204203191319826319),
 (431, 14106333703424951235),
 (432, 57106977133444220),
 (434, 17574032564153468911),
 (435, 14106263126103147495),
 (437, 13893284741034098209),
 (438, 10311931444366781327),
 (439, 62669989887166),
 (440, 7095527010649706284),
 (441, 9295644893710370791),
 (442, 4340410370284719928),
 (443, 16211550179650174976),
 (444, 18384258830200401631),
 (446, 141570477129663),
 (447, 254532495852163),
 (448, 10449543268033904159),
 (449, 9079522878313069568),
 (451, 18415198584838226048),
 (452, 16673852406926085895),
 (453, 2242545353667514117),
 (454, 106519013605375),
 (457, 6980790564374380543),
 (458, 16205891963637265528),
 (459, 14974406645072201479),
 (461, 139081761681488),
 (462, 18419583394192130559),
 (463, 14395689899453386700),
 (464, 17357049716847804415),
 (465, 22237079979097983),
 (466, 3458765188113530494),
 (468, 18410857922205528112),
 (469, 11402054327309499646),
 (471, 18383428831885721600),
 (472, 6817231820225788),
 (473, 17779805456698343649),
 (474, 217049154060275599),
 (476, 9260743125490393340),
 (478, 208838489646336),
 (479, 72523786967974032),
 (481, 520513469967896078),
 (483, 4665800409430687487),
 (484, 18436333354313221886),
 (486, 593348697896393728),
 (487, 1047819452158),
 (488, 18229710309501235200),
 (489, 36591745353846528),
 (491, 1371097856726695424),
 (492, 16422903742342414336),
 (493, 17547994594348549884),
 (494, 7949740173889295),
 (497, 18410997859263570431),
 (498, 970159292415),
 (500, 18383702598914440766),
 (501, 36277028092044287),
 (503, 9475997491728939839),
 (504, 4775174652748512),
 (507, 218159664302329727),
 (508, 36459392715162111),
 (510, 211947037130751),
 (512, 17361377529628784894),
 (513, 15822152195369010083),
 (514, 3443929063915391),
 (515, 13793903772857983),
 (516, 13889595483460993023),
 (521, 17870336926371872767),
 (522, 4053452711176685567),
 (525, 18373560468095632135),
 (526, 3472275832276057852),
 (527, 650835269578071970),
 (528, 529861113771783),
 (529, 18229723417554714624),
 (530, 18411139144895035901),
 (531, 6989577342654284544),
 (532, 9105543951553596416),
 (533, 4665957770051117280),
 (534, 580417959328442367),
 (536, 3924023050239),
 (537, 17862086446659157020),
 (538, 4597851538413521920),
 (539, 4115602989784126),
 (540, 16700411272857878720),
 (541, 2314957831523138045),
 (542, 16204163393381711743),
 (543, 16412106060422431735),
 (545, 2026125301697617438),
 (546, 18442213551142667268),
 (547, 8970181431921487872),
 (548, 10304261249328807935),
 (549, 612348259914874880),
 (550, 4395229854375692095),
 (551, 180355936899024867),
 (552, 913935641288511),
 (554, 1733916766293163321),
 (555, 9101705315793301885),
 (559, 17869861660853239567),
 (560, 18446603888132946174),
 (561, 9231884585210263804),
 (562, 4331403173177392176),
 (563, 579108341796503612),
 (564, 18379243100405505279),
 (565, 14106333703424951235),
 (566, 224966945592458240),
 (567, 8512686354480188),
 (569, 16197469246941182521),
 (571, 10414571965583360),
 (572, 534716084223),
 (574, 32200845129317888),
 (575, 18409307971537091708),
 (576, 16276503566217233407),
 (577, 13997190971004002190),
 (578, 18442100564461478131),
 (579, 14051514252687304703),
 (581, 4636579992502009855),
 (582, 17938049249916944126),
 (583, 4930622380284),
 (585, 16708847756868467932),
 (589, 13871087119384936303),
 (590, 72057883939798911),
 (591, 2676211276594236),
 (592, 34057368341842172),
 (593, 4484459380514619263),
 (594, 53329535172350),
 (595, 18192291811465101308),
 (596, 235034917105549311),
 (597, 17931346764473025526),
 (598, 18429786862097908223),
 (599, 16208732273828232446),
 (600, 16141183112911519743),
 (601, 1521969555039985152),
 (602, 126663738431833088),
 (603, 3490412858678705151),
 (604, 126523830421486847),
 (605, 281474976645120),
 (606, 4539910985951052287),
 (608, 17203944642516090622),
 (609, 2286021239360467),
 (610, 9187200575451697152),
 (611, 18417331590072955135),
 (612, 17938048426462474239),
 (614, 17933051092586770480),
 (615, 14097858661331385663),
 (616, 4507622534308941727),
 (618, 16922728316186400768),
 (619, 10952754328393220095),
 (621, 4468150825142664764),
 (623, 16194944391541899255),
 (624, 18446604437905600284),
 (625, 18446607467475451904),
 (626, 794052835366006783),
 (627, 19279380182146562),
 (629, 72025434400915455),
 (630, 267125255240956),
 (631, 6935649357868302335),
 (633, 97847843355889),
 (635, 4556016080623800012),
 (636, 1098991533855),
 (637, 13877908482259959024),
 (638, 2026354914691587444),
 (640, 9332333912279146432),
 (643, 36134562727690063),
 (644, 14050382902407477305),
 (645, 108369523387400183),
 (647, 14088273126420955390),
 (648, 16276538888567185660),
 (650, 4846791582374414279),
 (651, 300249348292415),
 (652, 13889374738171352304),
 (654, 13889348524642725116),
 (655, 18362796162316091726),
 (656, 72410845499351003),
 (658, 17401971631848423679),
 (659, 2298911714819063439),
 (660, 1010579882952826871),
 (661, 2865349033508193219),
 (662, 6935755528404727751),
 (664, 16195722180135479020),
 (666, 9144082001520385),
 (667, 127158252423477219),
 (670, 7930395209127251264),
 (672, 1085094657761003212),
 (673, 9006636304804151038),
 (674, 881718295432791567),
 (675, 17239565227515451392),
 (677, 11459129428297252863),
 (678, 306374982906969854),
 (679, 17277940338135957888),
 (680, 9332225878387920654),
 (681, 655000242422808447),
 (682, 35679455129239551),
 (683, 18374624387447325440),
 (685, 17289266188488015872),
 (686, 2453088551964716807),
 (687, 18438159641029633019),
 (688, 18444749438883921920),
 (689, 2609855533934941115),
 (690, 4557501524739096576),
 (691, 4882961666570175459),
 (692, 16177071161765527295),
 (693, 10132128965391453087),
 (694, 72976198408736383),
 (696, 16141130422612525055),
 (699, 54307919126036231),
 (700, 9295147049930463240),
 (701, 18409726111769181184),
 (702, 650496423814447071),
 (703, 14088248936710267361),
 (704, 18228592998533363960),
 (706, 17519885609221680),
 (707, 8142366836877426688),
 (708, 13977133102817069055),
 (710, 505542252731301887),
 (713, 7104466431835392),
 (714, 18433094198465950840),
 (715, 17797944248298373120),
 (716, 18374097138150801408),
 (717, 18446677844303052928),
 (718, 14394564079576663008),
 (719, 55099278611185663),
 (720, 18005884443398999551),
 (721, 16710606181141364961),
 (722, 18114395808584665039),
 (725, 18381441881323595775),
 (726, 4611540054435430400),
 (727, 17867721872440148867),
 (728, 14106333690506363903),
 (730, 218301425812473603),
 (731, 8451669378043807),
 (733, 1156810096769023),
 (734, 4893133947589945078),
 (735, 24909983505987632),
 (736, 16422349391353950456),
 (737, 9110887875280273022),
 (738, 18415094644405895935),
 (739, 303498461380901948),
 (740, 13961656650983269375),
 (741, 18411139420846670335),
 (742, 18446743949155533376),
 (744, 15096562671493022715),
 (745, 18306007620187645927),
 (746, 17257935061492035071),
 (748, 31329613545278),
 (749, 42228117405472),
 (750, 17983314841465756125),
 (751, 17933334785583804662),
 (752, 9331881746363318271),
 (754, 2305821704078761474),
 (755, 283242851467263),
 (757, 506377463174424190),
 (758, 14087754147315184639),
 (759, 17352529419229982960),
 (760, 16125026023560223169),
 (763, 18376664531343708991),
 (766, 11244450360110939519),
 (767, 8651442479867838235),
 (769, 10632331898661238710),
 (771, 4682054758276530204),
 (773, 11461945889846661023),
 (775, 1713557964832588544),
 (776, 3458835904497307121),
 (777, 1082850754321686431),
 (778, 18411156840424505855),
 (779, 67826633948590132),
 (780, 529861119035365),
 (783, 18419448701857624319),
 (784, 4642681380601344),
 (785, 18446462600896197886),
 (786, 15982691793087204235),
 (787, 1211697860812799742),
 (788, 17288139809035968512),
 (790, 15059109857346515192),
 (791, 1157160251827353832),
 (792, 18378909708145786879),
 (796, 1746301646465355583),
 (797, 18443335466867540192),
 (799, 18419442100565542911),
 (800, 9223373002987274239),
 (801, 9264107537030463295),
 (802, 17934425260669652991),
 (803, 55817797503),
 (805, 9732152941901632451),
 (806, 1764422030215672032),
 (808, 16448341271179198975),
 (809, 4475453018336455928),
 (812, 18437737426373902334),
 (813, 18446567358358620169),
 (814, 10755693579554639),
 (815, 869537019250802965),
 (816, 1197043114672310000),
 (818, 2039865710415390),
 (819, 14147302661971574783),
 (820, 107200173301699),
 (822, 2252455333068542),
 (824, 7161606482980710207),
 (825, 613089607679),
 (827, 18428941609830725631),
 (828, 18443297660967437043),
 (829, 18433454124218562622),
 (830, 217211930090749823),
 (831, 72039092362943512),
 (832, 3475719241829465662),
 (833, 9225775530366448061),
 (834, 6982963854601943295),
 (835, 9291204207686238304),
 (836, 62367102598943),
 (839, 9186278913102251791),
 (841, 14934789325549859321),
 (842, 278920229104),
 (843, 13763290185812009471),
 (844, 18411737691002560753),
 (845, 18005532616816058367),
 (847, 14361943544187388175),
 (848, 7440924847799564368),
 (849, 17072279944132015870),
 (850, 17505703409754374143),
 (851, 55103004006934403),
 (852, 11515568609996933107),
 (854, 17649781212359835519),
 (856, 17862368491273947111),
 (858, 4846795995444897639),
 (859, 2305896322642738752),
 (860, 16195156332119320559),
 (862, 9422308615983186934),
 (864, 16195068472613289664),
 (865, 45497687084296183),
 (866, 71403780831743),
 (867, 16204944333376585475),
 (868, 9096712757641616896),
 (869, 18446604991956484999),
 (871, 13763141202556194815),
 (872, 9096774526741264432),
 (873, 15960653233735532544),
 (875, 108298330007928831),
 (876, 14907813516671),
 (877, 4485055431878581788),
 (879, 18443300144549036417),
 (881, 16132985546084507879),
 (882, 18411702094877803519),
 (883, 11457176225652668415),
 (885, 3954396538339327),
 (887, 18446743678574147584),
 (888, 10809478193137174522),
 (889, 71403780898558),
 (890, 504403164842164223),
 (891, 18012640396861096943),
 (892, 14087754147348857855),
 (894, 8291992307228064767),
 (895, 18427387447858437345),
 (896, 4681035493833505280),
 (897, 1013031753171401215),
 (898, 2319490697276731644),
 (899, 14088104062062166015),
 (900, 54396132318461696),
 (901, 18442171761098358528),
 (902, 10441661727911507196),
 (903, 18446739675663140094),
 (906, 13880138083766108159),
 (908, 615936964919098),
 (911, 8664643642206388224),
 (913, 7914553115180088),
 (914, 14106331495778075647),
 (915, 2303363476826890495),
 (916, 12664615838305990655),
 (917, 9187192887915184128),
 (918, 2269672663075456776),
 (919, 14087683502707826687),
 (921, 1772193790516979527),
 (922, 16715078818548563456),
 (924, 16185937061237227519),
 (925, 18228496650605756159),
 (926, 4359059474545049600),
 (928, 1263260459932122879),
 (930, 54307074024209407),
 (931, 54308117231435520),
 (932, 17870846531205063427),
 (933, 7785630012729674057),
 (935, 18446603888126362111),
 (939, 18377083419604154879),
 (940, 565381949227007),
 (941, 217033972337413097),
 (942, 72973914094959587),
 (945, 17520701545550273),
 (946, 17361641412166283760),
 (947, 13871086856361213951),
 (948, 18428995730722046145),

In [25]:
print(len(whash.items()))

10824199

In [32]:
imageHashDF=pd.DataFrame([whash])

In [35]:
imageHashDF=pd.DataFrame([[key,value] for key,value in whash.items()],columns=["id","HashValue"])

In [36]:
imageHashDF.head()

   id             HashValue
0   2   8034173447716605444
1   5  11459270170091060735
2   7  18400019274820157450
3   8          704357531391
4   9  18337108463122644992

In [ ]:
1064094

In [40]:
imageHashDF[imageHashDF.id==1064094]

             id            HashValue
785701  1064094  1081147450901131263